# Data Feeds or Streams Engineers must approve changes that will trigger an external Release
/package.json @smartcontractkit/data-feeds-engineers @smartcontractkit/data-streams-engineers
/MASTERLIST.md @smartcontractkit/data-feeds-engineers @smartcontractkit/data-streams-engineers