name: Airtable Master List Generation

on:
  workflow_dispatch: ~
  push:
    branches:
      - master

jobs:
  airtable-generation:
    name: Airtable Master List Generation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Airtable generation
        run: |
          yarn generate:master-list -v -o airtable
          echo "Airtable Master List generated successfully."
        env:
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
          AIRTABLE_BASE_ID: ${{ secrets.AIRTABLE_BASE_ID }}
