# This action acts as a signal dispatcher that fires whenever the release process has
# successfully completed. The listening workflow within the infra-k8s repository has
# a corresponding event handler to generate releases based on this signal

on:
  workflow_run:
    workflows: [Release]
    types: [completed]
    branches: [develop]
  workflow_dispatch:
    inputs:
      workflowRunId:
        description: The workflow_run.id of the release workflow that has published artifacts
        required: true

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ inputs.workflowRunId || github.event.workflow_run.conclusion == 'success' }}
    environment: InfraK8s
    steps:
      - id: get-artifacts
        name: 'Get artifacts from release workflow'
        uses: actions/github-script@d50f485531ba88479582bc2da03ff424389af5c1 # v6.1.1
        env:
          AWS_PRIVATE_ECR_PATH: ${{ secrets.AWS_PRIVATE_ECR_PATH }}
          WORKFLOW_RUN_ID: ${{ inputs.workflowRunId  || github.event.workflow_run.id  }}
        with:
          result-encoding: string
          script: |
            const allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
              ...context.repo,
              run_id: process.env.WORKFLOW_RUN_ID,
            });
            // Create whitespace separated URLs for downloading ECR adapter images based on uploaded workflow artifacts 
            const pathPrefix = process.env.AWS_PRIVATE_ECR_PATH
            return allArtifacts.data.artifacts
              .map(({name}) => `${pathPrefix}/adapters/${name.replace('-shasum', '')}`)
              .join(' ')
      - name: 'Trigger Image Dispatcher'
        run: gh workflow run --repo smartcontractkit/infra-k8s image-dispatcher.yaml -F imageRepos="${{ job.get-artifacts.outputs.result }}" -F gitRepo=${{ github.event.repository.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.INFRA_K8s_PAT }}
