# This action acts as a signal dispatcher that fires whenever the release process has
# successfully completed. The listening workflow within the infra-k8s repository has
# a corresponding event handler to generate releases based on this signal
name: Deploy

on:
  # TODO: switch back to push
  push:
    branches:
      - main
    tags-ignore:
      - v1.*
  # pull_request:
  #   branches:
  #     - main

concurrency:
  group: deploy-and-release
  cancel-in-progress: false

jobs:
  calculate-changes:
    name: Compute changed adapters
    runs-on: [self-hosted, sdlc-ghr-prod]
    outputs:
      adapter-list: ${{ steps.changed-adapters.outputs.CHANGED_ADAPTERS }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up and install dependencies
        uses: ./.github/actions/setup
        with:
          skip-setup: true
      - name: Build list of changed packages and changed adapters
        id: changed-adapters
        env:
          UPSTREAM_BRANCH: HEAD~1
        run: |
          yarn changeset version
          git commit -am "Mock changesets"
          ./.github/scripts/changed-adapters.sh

  publish-adapter-images:
    name: Build and publish ${{ matrix.adapter.shortName }}
    runs-on: ubuntu-latest
    needs:
      - calculate-changes
    environment: release
    permissions: # These are needed for the configure-aws-credentials action
      id-token: write
      contents: read
    strategy:
      matrix: ${{fromJson(needs.calculate-changes.outputs.adapter-list)}}
    env:
      ECR_URL: ${{ secrets.SDLC_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION_ECR_PRIVATE }}.amazonaws.com
      ECR_REPO: adapters/${{ matrix.adapter.shortName }}-adapter
      IMAGE_VERSION: ${{ matrix.adapter.version }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build the adapter image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          tags: ${{ env.ECR_URL }}/${{ env.ECR_REPO }}:${{ matrix.adapter.version }}
          build-args: |
            package=${{ matrix.adapter.name }}
            location=${{ matrix.adapter.location }}
      - name: Publish adapter image
        uses: ./.github/actions/publish-image
        with:
          image-version: ${{ matrix.adapter.version }}
          aws-ecr-url: ${{ env.ECR_URL }}
          aws-ecr-repo: ${{ env.ECR_REPO }}
          aws-region: ${{ secrets.AWS_REGION_ECR_PRIVATE }}
          aws-role: ${{ secrets.AWS_OIDC_IAM_ROLE_ARN }}
          aws-ecr-account-ids: ${{ secrets.AWS_PRIVATE_ECR_SECONDARY_ACCOUNT_ACCESS_IDS }}
          aws-ecr-private: true
          latest: true

  # deploy:
  #   name: Trigger infra deployment
  #   runs-on: ubuntu-latest
  #   needs: publish-adapter-images
  #   environment: InfraK8s
  #   steps:
  #     - name: 'Trigger Image Dispatcher'
  #       run: gh workflow run --repo smartcontractkit/infra-k8s --ref main "Infra-k8s Image Dispatcher" -F imageRepos="${{ steps.get-artifacts.outputs.result }}" -F gitRepo=${{ github.event.repository.name }}
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.INFRA_K8s_PAT }}
