name: Test & build

on:
  push:
    branches:
      - master
      - develop
  pull_request: ~

jobs:
  packages:
    name: Verify dependency package archives
    runs-on: [self-hosted, sdlc-ghr-prod]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '17.x'
      - name: Install Yarn
        run: npm install -g yarn
      - name: Re-download dependencies & verify checksum
        run: yarn install --check-cache

  run-integration-tests:
    name: Run integration tests
    runs-on: [self-hosted, sdlc-ghr-prod]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '17.x'
      - name: Install Yarn
        run: npm install -g yarn
      - run: yarn install
      - run: yarn setup
      - run: timeout 300 yarn test:ci:integration
      - uses: codecov/codecov-action@v2
        with:
          flags: integration
          fail_ci_if_error: false # TODO: Set back to true once coverage reports are consistent
          override_commit: ${{ github.sha }} # PR merge commit, what checkout@v2 uses by default

  run-unit-tests:
    name: Run unit tests
    runs-on: [self-hosted, sdlc-ghr-prod]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '17.x'
      - name: Install Yarn
        run: npm install -g yarn
      - run: yarn install
      - run: yarn setup
      - run: yarn test:ci:unit
      - uses: codecov/codecov-action@v2
        with:
          flags: unit
          fail_ci_if_error: false # TODO: Set back to true once coverage reports are consistent
          override_commit: ${{ github.sha }} # PR merge commit, what checkout@v2 uses by default

  run-basic-checks:
    name: Run linters
    runs-on: [self-hosted, sdlc-ghr-prod]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '17.x'
      - name: Install Yarn
        run: npm install -g yarn
      - run: yarn install
      - run: yarn setup
      - run: yarn lint
      - run: yarn format:check

  run-docmentation-check:
    name: Documentation generation test
    runs-on: [self-hosted, sdlc-ghr-prod]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: '17.x'
      - name: Install Yarn
        run: |
          npm install -g yarn
          yarn install
      - name: Build Repo
        run: yarn setup
      - name: Test README Generation
        run: yarn generate:readme -a -v

  # Changeset check
  adapter-change-has-changeset:
    name: Adapter changes accompanied by a changeset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Check whether adapter change also has a changeset
        id: adapter_change_has_changeset
        run: ./.github/isvalidadapterchange.sh

  # Read build strategy matrix of adapters, from a json file
  matrix-adapters:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.create-matrix.outputs.result }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '17.x'
      - name: Generate job matrix
        id: create-matrix
        run: yarn generate:gha:matrix

  build-adapters:
    needs: [run-basic-checks, matrix-adapters]
    name: (${{ matrix.adapter.type }}) Build ${{matrix.adapter.name}} adapter
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.matrix-adapters.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '17.x'
      - name: Install yarn deps
        run: yarn
      - name: Generate docker-compose file
        run: yarn generate:docker-compose
      - run: docker-compose -f docker-compose.generated.yaml build ${{ matrix.adapter.name }}
