name: Publish Adapter Images to Public ECR

on:
  push:
    branches:
      - main
    paths:
      - public-adapter-versions.yml
  workflow_dispatch:
    inputs:
      # For this workflow, build-all will cause all adapters to have their image pulled and republished to the public ECR
      # NOTE: If the images haven't been already published to the private ECR, this will fail; in that case run the deploy workflow first.
      build-all:
        description: whether to run steps for all adapters, regardless of whether they were changed in this event
        required: false
        default: 'false'

concurrency:
  group: deploy-and-release
  cancel-in-progress: false

jobs:
  calculate-changes:
    name: Compute changed adapters
    permissions:
      contents: read
    runs-on: [ubuntu-latest]
    env:
      BUILD_ALL: ${{ inputs.build-all }}
    outputs:
      adapter-list: ${{ steps.changed-adapters.outputs.CHANGED_ADAPTERS }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 5
      - name: Set up and install dependencies
        uses: ./.github/actions/setup
        with:
          skip-setup: true
      - name: Build list of changed packages and changed adapters
        id: changed-adapters
        env:
          UPSTREAM_BRANCH: d26adff1a6985f6d45c6a800ef1d8cb6d9c52847~1
        run: |
          echo "CHANGED_ADAPTERS=$(./.github/scripts/list-changed-public-adapters.sh)" >> $GITHUB_OUTPUT

  comment-ecr-urls:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    needs: [calculate-changes] #, publish-adapter-images]
    steps:
      - name: Comment ECR URLs on PR
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          ADAPTER_LIST: ${{ needs.calculate-changes.outputs.adapter-list }}
        with:
          script: |
            const adapters = JSON.parse(process.env.ADAPTER_LIST).adapter;
            console.log("Parsed adapters:", adapters);
            const body = adapters.map(({shortName}) =>
              `- https://gallery.ecr.aws/chainlink/adapters/${shortName}-adapter`
            ).join('\n');
            console.log("Body:", body);
            const {owner, repo} = context.repo;
            const commit_sha = 'd26adff1a6985f6d45c6a800ef1d8cb6d9c52847'; //context.sha;
            console.log("commit_sha:", commit_sha);
            const {data: prs} = await github.rest.repos.listPullRequestsAssociatedWithCommit({ owner, repo, commit_sha });
            console.log("prs", prs);
            const mergedPrs = prs.filter(pr => pr.merged_at);
            console.log("merged prs", mergedPrs);
            if (mergedPrs.length) {
              await github.rest.issues.createComment({
                owner, repo,
                issue_number: mergedPrs[0].number,
                body
              });
            }
