name: Soak test

on:
  pull_request: ~
  #TODO remove the following 3 lines
  push:
    branches:
      - 'feature/soak-testing-composites'

jobs:
  run-basic-checks:
    name: Run Soak Tests Against Changed Adapters
    runs-on: ubuntu-latest
    environment: QA
    permissions:
      id-token: write
      contents: read
      checks: write
      pull-requests: write
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.QA_AWS_REGION }}
          role-to-assume: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 3600

      - name: Save AWS Profile
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.QA_SDLC_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.QA_SDLC_AWS_SECRET_KEY }}
          AWS_REGION: ${{ secrets.QA_SDLC_AWS_REGION }}
          AWS_ROLE_TO_ASSUME: ${{ secrets.QA_SDLC_AWS_ROLE_TO_ASSUME }}
        run: |
          mkdir ./.aws
          touch ./.aws/config
          echo "[profile qa-sdlc]" >> ./.aws/config
          echo "aws_access_key_id=${AWS_ACCESS_KEY_ID}" >> ./.aws/config
          echo "aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}" >> ./.aws/config
          echo "region=${AWS_REGION}" >> ./.aws/config
          echo "role_arn=${AWS_ROLE_TO_ASSUME}" >> ./.aws/config

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Set Kubernetes Context
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.QA_KUBECONFIG }}

      - name: Setup Node 17.x
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: Install Yarn and setup project
        run: |
          npm install -g yarn
          yarn install
          yarn setup
      - name: Install SOPS
        run: |
          TEMP_DEB="temp-sops-v3.7.1.linux" &&
          wget -O "$TEMP_DEB" https://github.com/mozilla/sops/releases/download/v3.7.1/sops-v3.7.1.linux &&
          sudo dpkg -i "$TEMP_DEB" &&
          rm -f "$TEMP_DEB"

      - name: Checkout external-adapters-js repo
        uses: actions/checkout@v2
        with:
          path: external-adapters-js

      - name: Find current PR
        uses: jwalton/gh-find-current-pr@v1
        id: findPr
        with:
          # Can be "open", "closed", or "all".  Defaults to "open".
          state: all

      - name: Install Yarn and setup project
        working-directory: ./external-adapters-js
        run: |
          npm install -g yarn
          yarn install
          yarn setup

      - name: Install SOPS
        run: |
          TEMP_DEB="temp-sops_3.7.1_amd64.deb" &&
          wget -O "$TEMP_DEB" https://github.com/mozilla/sops/releases/download/v3.7.1/sops_3.7.1_amd64.deb &&
          sudo dpkg -i "$TEMP_DEB" &&
          rm -f "$TEMP_DEB"

      - name: Install Helm Secrets
        run: helm plugin install https://github.com/jkroepke/helm-secrets --version v3.12.0

      - name: Use GH CLI to get pr info
        working-directory: ./external-adapters-js
        id: get-pr-info
        env:
          GITHUB_TOKEN: ${{ secrets.QA_GITHUB_TOKEN }}
          PR_NUMBER: ${{ steps.findPr.outputs.pr }}
        run: |
          CHANGED_FILES_NAME=./changedFiles.txt
          # gh pr view ${PR_NUMBER} --json files --jq '.files.[].path' > ${CHANGED_FILES_NAME}
          # TEST_ADAPTERS="$(yarn get-changed-adapters "${CHANGED_FILES_NAME}")"
          TEST_ADAPTERS="coingecko"
          # TODO remove above line

          echo "::set-output name=TEST_ADAPTERS::${TEST_ADAPTERS}"

      - name: Clone adapter-secrets repo
        env:
          GITHUB_TOKEN: ${{ secrets.QA_GITHUB_TOKEN }}
        run: git clone https://${GITHUB_TOKEN}@github.com/smartcontractkit/adapter-secrets.git

      - name: Build the k6 payloads and images
        id: k6-payloads
        working-directory: ./external-adapters-js
        env:
          # PR_NUMBER: ${{ steps.findPr.outputs.pr }}
          #TODO remove next line
          PR_NUMBER: soak-testing-composites
          TEST_ADAPTERS: ${{ steps.get-pr-info.outputs.TEST_ADAPTERS }}
          IMAGE_PREFIX: ${{ secrets.SDLC_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/k6
        run: |
          if [ -n "$TEST_ADAPTERS" ]; then
            for adapter in ${TEST_ADAPTERS}; do
              yarn qa:flux:configure k6payload ${adapter} ${PR_NUMBER} || exit 1

              cd ./packages/k6

              echo "" >> ./.env
              echo "PAYLOAD_GENERATED=true" >> ./.env
              echo "CI_ADAPTER_NAME=${adapter}" >> ./.env
              echo "QA_RELEASE_TAG=${PR_NUMBER}" >> ./.env
              echo "PR_NUMBER=${PR_NUMBER}" >> ./.env
              cat ./.env

              yarn build
              docker build -t ${IMAGE_PREFIX}:pr${PR_NUMBER}-${adapter} .
              docker push ${IMAGE_PREFIX}:pr${PR_NUMBER}-${adapter}

              cd ../..
            done
          fi

      - name: Build adapters
        working-directory: ./external-adapters-js
        id: build-adapters
        env:
          TEST_ADAPTERS: ${{ steps.get-pr-info.outputs.TEST_ADAPTERS }}
          # IMAGE_TAG: pr${{ steps.findPr.outputs.pr }}
          # TODO remove next line
          IMAGE_TAG: prsoak-testing-composites
          IMAGE_PREFIX: ${{ secrets.SDLC_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/adapters/
        run: |
          GITHUB_WORKSPACE= IMAGE_TAG=${IMAGE_TAG} IMAGE_PREFIX=${IMAGE_PREFIX} yarn generate:docker-compose

          BUILD_ADAPTERS=
          if [ -n "$TEST_ADAPTERS" ]; then
            yarn qa:dependencies $TEST_ADAPTERS
            DEP=$(cat ./packages/scripts/src/adapter-dependencies/dependencies.txt)
            BUILD_ADAPTERS="${TEST_ADAPTERS} ${DEP}"
          fi

          BUILD_NAMES=
          if [ -n "$BUILD_ADAPTERS" ]; then
            for adapter in ${BUILD_ADAPTERS}; do
              BUILD_NAMES="${BUILD_NAMES} ${adapter}-adapter"
            done

            echo $BUILD_NAMES

            docker-compose -f docker-compose.generated.yaml build ${BUILD_NAMES}
            for adapter in ${BUILD_NAMES}; do
              docker push ${IMAGE_PREFIX}${adapter}:${IMAGE_TAG}
            done
          fi

          echo "::set-output name=BUILD_ADAPTERS::${BUILD_ADAPTERS}"

      - name: Deploy adapters
        working-directory: ./external-adapters-js
        env:
          PR_NUMBER: ${{ steps.findPr.outputs.pr }}
          # IMAGE_TAG: pr${{ steps.findPr.outputs.pr }}
          # TODO remove next line
          IMAGE_TAG: prsoak-testing-composites
          ADAPTER_NAMES: ${{ steps.build-adapters.outputs.BUILD_ADAPTERS }}
          IMAGE_PREFIX: ${{ secrets.SDLC_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/adapters/
          GITHUB_TOKEN: ${{ secrets.QA_GITHUB_TOKEN }}
        run: |
          helm repo add chainlink https://raw.githubusercontent.com/smartcontractkit/charts/gh-pages/ --password ${GITHUB_TOKEN} --username dummy

          if [ -n "$ADAPTER_NAMES" ]; then
            for adapter in ${ADAPTER_NAMES}; do
              HELM_SECRETS_PATH=../adapter-secrets/secure-sdlc/secrets.${adapter}.yaml
              if test -f "$HELM_SECRETS_PATH"
                then
                  AWS_PROFILE=qa-sdlc HELM_SECRETS_PATH=${HELM_SECRETS_PATH} yarn qa:adapter start ${adapter} ${PR_NUMBER} ${IMAGE_TAG}
                else 
                  yarn qa:adapter start ${adapter} ${PR_NUMBER} ${IMAGE_TAG}
              fi
            done
          fi

      - name: Deploy k6
        working-directory: ./external-adapters-js/packages/k6
        env:
          PR_NUMBER: ${{ steps.findPr.outputs.pr }}
          # IMAGE_TAG: pr${{ steps.findPr.outputs.pr }}
          # TODO remove next line
          IMAGE_TAG: prsoak-testing-composites
          TEST_ADAPTERS: ${{ steps.get-pr-info.outputs.TEST_ADAPTERS }}
        run: |
          if [ -n "$TEST_ADAPTERS" ]; then
            for adapter in ${TEST_ADAPTERS}; do
              helm upgrade k6-${PR_NUMBER}-${adapter} ./k8s \
                --install \
                --namespace adapters \
                --create-namespace \
                -f ./k8s/values.yaml \
                --set image.tag=${IMAGE_TAG} \
                --set name=k6-${PR_NUMBER}-${adapter} \
                --wait
            done
          fi

      # TODO Figure out how to adjust time in k6 so we can vary it
      - name: Wait 2 Minutes for tests to run
        uses: jakejarvis/wait-action@master
        with:
          time: '2m'
